@using ERP.Presentation.Api.Models
@*@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModelList
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="short cut icon" href="~/Content/Images/favicon.png" type="image/x-icon" />
    <title>TECNUN - ERP v1.0</title>
    <!-- jQuery -->
    <script src="~/DashboardLayout/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/jquery/jquery.maskedinput.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/DashboardLayout/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/DashboardLayout/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/DashboardLayout/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/DashboardLayout/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Biblioteca de Graficos - Morris Charts CSS -->
    <link href="~/DashboardLayout/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Fontes/Icones customizadas  -->
    <!-- Google  -->
    <link href="~/Content/fonts/google/google_icon.css" rel="stylesheet" />

    <!-- Font Awesome  -->
    <link href="~/Content/fonts/font-awesome/v531/cdn/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/font-awesome/v531/cdn/css/all.min.css" rel="stylesheet" />
    <script src="~/Content/fonts/font-awesome/v531/cdn/js/fontawesome.min.js"></script>
    <script src="~/Content/fonts/font-awesome/v531/cdn/js/all.min.js"></script>

    <link href="~/Content/tecnun.css" rel="stylesheet" />
    <!-- SummerNote - Editor de Texto -->
    <script src="~/Content/summernote/summernote.js" type="text/javascript"></script>
    <link href="~/Content/summernote/summernote.css" rel="stylesheet" />
    <!-- DataTables e Select2 -->
    <script src="~/Content/jquery/jquery.dataTables.js"></script>
    <script src="~/Content/datatable/js/dataTables.bootstrap.min.js"></script>
    <link href="~/Content/datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Content/select2/select2.min.js"></script>
    <link href="~/Content/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/select2/select2-bootstrap.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        th, td {
            white-space: nowrap;
        }

        div.tbFuncionarios {
            width: 800px;
            margin: 0 auto;
        }

        tr {
            height: 10px;
        }
    </style>

</head>

<body style="padding: 55px">
    <!-- Barra de Navegação  e Side Bar-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        @{
            <!-- Botões que aparecem quando a tela é diminuida -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="Brand" src="~/Images/logo.png" style="padding-top:7px; padding-left:0 width:90px; height:27px" />
                <a class="navbar-brand" href="~/Home/Index">
                </a>
            </div>

            if (Request.IsAuthenticated)
            {
                <!-- BARRA DE MENU -->
                Html.RenderPartial("_NavBar");
                <!-- SIDEBAR -->
                Html.RenderPartial("_Sidebar");
            }
        }
    </nav>
    <!-- Container/Espaço para o conteudo das paginas-->
    <div id="page-wrapper" class="container-fluid">

        <div class="row" style="padding-top:2px">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/Home/Index">
                            <i class="fas fa-home"></i>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="Menu">
                        <ul class="nav navbar-nav">


                            @{
                                var sitemap = Html.MvcSiteMap().SiteMap;
                                var atual = sitemap.CurrentNode;
                            }

                            @if (atual != null)
                            {
                                if (atual.Ancestors.Count > 0)
                                {
                                    MvcSiteMapProvider.ISiteMapNode n;

                                    for (int i = atual.Ancestors.Count - 1; i >= 0; i--)
                                    {
                                        n = atual.Ancestors[i];

                                        <li><a href="@n.Url"><i class="far fa-arrow-alt-circle-right fa-1x"></i><span style="font-size:18px"> @n.Title</span> </a></li>
                                    }
                                }
                                <li><a href="@atual.Url"><i class="far fa-arrow-alt-circle-right fa-1x"></i><span style="font-size:18px"> @atual.Title</span> </a></li>
                            }

                            @*<li><a href="@url_parent"><i class="far fa-arrow-alt-circle-right fa-2x"></i><span style="font-size:26px"> @titulo_parent</span> </a></li>
        <li><a href="@url_atual"><i class="far fa-arrow-alt-circle-right fa-2x"></i><span style="font-size:26px"> @titulo_atual</span> </a></li>*@
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="row" style="padding-top:0px">
            <div class="col-md-12">
                <div class="row">
                    
                    <div class="col-sm-12">
                        @if (TempData["MensagemUsuario"] != null)
                        {
                            MensagemParaUsuario msg = TempData["MensagemUsuario"] as MensagemParaUsuario;
                            if ((msg != null) && (!string.IsNullOrWhiteSpace(msg.Mensagem)))
                            {
                                <br />
                                <div class="@msg.Classe" style="white-space: pre-line"><strong>@msg.Titulo</strong>: @msg.Mensagem</div>
                            }
                        }
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Carregamento do JavaScript-->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/DashboardLayout/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/DashboardLayout/vendor/raphael/raphael.min.js"></script>
    <script src="~/DashboardLayout/vendor/morrisjs/morris.min.js"></script>
    <script src="~/DashboardLayout/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/DashboardLayout/dist/js/sb-admin-2.js"></script>
    <script src="~/Content/jquery/jquery.dataTables.js"></script>
    <script src="~/Content/jquery/jquery.maskedinput.js"></script>
    <script src="~/Content/datatable/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/select2/select2.min.js"></script>
    <script type="text/javascript">
        $('.botaoSubmit').on('click',
            function () {
                var $this = $(this);
                $this.button('loading');
                $('#frmEdit').submit();
            }
        );
    </script>
    <footer>
        <div class="container">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - ERP Tecnun v1.00</p>
            </div>
        </div>
    </footer>
</body>
</html>
